<head>
  <title>About Me</title>
</head>

<br />
<h1 class="text-center">About Me</h1>
<br />
<br />

<div class="card border-primary mb-3" style="max-width: 150rem;">
  <div class="card-header">Background Information</div>
  <div class="card-body">
    <p class="card-text">I am from Houston, TX (Cypress/Katy area). I am a 3rd year Management Informations System student. I was initially a Psychology major when I decided
        to apply for the switch. On the side, I am pursuing a Computer Elements Certificate so let's be programming friends if that's your thing too. 
        Overall, I am very excited for this course despite how intense it is. Some organizations I have been involved in are Filipino Student Association
        and Kappa Phi Lambda. I am trying to join more organizations that are professional and/or service so let me know if you know any.
    </p>
  </div>
</div>
<div class="card border-secondary mb-3" style="max-width: 150rem;">
  <div class="card-header">Working Style</div>
  <div class="card-body">
    <p class="card-text">To summarize my working style in and outside of the classroom:</p>
    <p class= "card-text">○ Myers-Briggs: ENFP-T (I am a Campaigner!)</p>
    <p class= "card-text">○ Zodiac Sign: Saggitarius ♐︎</p>
    <p class= "card-text">○ Organizer: Notion helps me stay kept together through assignments & classes</p>
    <p class= "card-text">○ Mediator: I have my own ideas for any project but I love learning and asking about everyone's thoughts so that we can try to
        integrate all aspects. A successful project is when different perspectives are incorporated.
    </p>
    <p class= "card-text">○ Preferred Working Hrs: I can be a night owl if needed. I am overall really busy during the day because of classes and meetings,
        but I am always open to meet in between these times. Zoom calls are great as well!
    </p>
    <p class= "card-text">○ Communication: Texting or calls work best for me! I check my emails throughout the day too so I am flexible.
        Check my contact page for more methods of contact!
    </p>
  </div>
</div>
<div class="card border-success mb-3" style="max-width: 150rem;">
  <div class="card-header">Coursework</div>
  <div class="card-body">
    <p class="card-text">For my MIS courses, I have taken MIS 301, 304, and 325. I have taken most business core courses already aside from
        FIN 357 and MAN/OM. I was Pre-Health so I have taken various science courses from General to Microbiology. For my CS Certificate, I have 
        taken 303E. Currently, I am in MIS 333K, MIS 373 (Data Mining), PSY 309, Jazz Apreciation, and CS 313E. Let me know if you're in any of these classes!'
    </p>
  </div>
</div>
<div class="card border-danger mb-3" style="max-width: 150rem;">
  <div class="card-header">Hobbies & Interests</div>
  <div class="card-body">
    <p class="card-text">In my free time, I like to hike/go outdoors, travel to new cities, go to music/concerts/festivals, try new food places, and cook!
        Some of my favorite shows & movies are Vampire Diaries, Grey's Anatomy, The Proposal, and Fast & Furious Series. Check out my Foodie Corner & Music page for more!
        I am an aspiring Yelp Elite so I open to taking any recommendations! 
    </p>
  </div>
</div>