
<html>
    <head>
        <meta name ="viewport" content="width=device-width"/>
        <title>Contact</title>
    </head>
    <h1 class="text-center">Contact Me</h1>
    <p>If you want to be partners, friends, study buddies, or talk about anything, just give me a follow!</p>

    <div class="d-grid gap-2">
        <button class="btn btn-lg btn-secondary" type="button"><i class="far fa-envelope"></i> Email: <a href="mailto:crystalle@utexas.edu">crystall@utexas.edu </a></button>
        <button class="btn btn-lg btn-warning" type="button"><i class="fab fa-linkedin"></i> LinkedIn: <a href= "https://www.linkedin.com/in/crystal-le">Crystal-Le</a></button>
        <button class="btn btn-lg btn-dark" type="button"><i class="fab fa-instagram"></i> Instagram: <a href= "https://www.instagram.com/justt.crystal/?hl=en">justt.crystal</a></button>
        <button class="btn btn-lg btn-danger" type="button"><i class="fab fa-twitter-square"></i> Twitter: <a href= "https://twitter.com/crustalliteee">crustalliteee</a></button>

    </div>
</html>
