<br />
<h1 class="text-center">Welcome to my Foodie Corner page!</h1>
<br />
<br />
<figure class="text-center">
  <blockquote class="blockquote">
    <p class="mb-0">To live a full life, you have to fill your stomach first.</p>
  
  </blockquote>
  <figcaption class="blockquote-footer">
    A Fellow Foodie <cite title="Source Title"></cite>
  </figcaption>
</figure>


<html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
    <img src="~/images/IMG_0628.jpg" width="600" height="400">
</div>
<div class="gallery">
    <img src="~/images/IMG_0627.jpg" width="600" height="400">
</div>
<div class="gallery">
    <img src="~/images/IMG_1660.jpg" width="600" height="400">
</div>
<div class="gallery">
    <img src="~/images/IMG_0616.jpg"  width="600" height="400">
</div>
<div class="gallery">
    <img src="~/images/IMG_9430.jpg" width="600" height="400">
</div>
<div class="gallery">
    <img src="~/images/IMG_1922.jpg" width="600" height="400">
</div>
<div class="gallery">
    <img src="~/images/IMG_3392.jpg" width="600" height="400">
</div>
<div class="gallery">
    <img src="~/images/IMG_4505.jpg" width="600" height="400">
</div>
<div class="gallery">
    <img src="~/images/IMG_3394.jpg" width="600" height="400">
</div>
<div class="gallery">
    <img src="~/images/IMG_0737.jpg" width="600" height="400">
</div>
<div class="gallery">
    <img src="~/images/IMG_4501.jpg" width="600" height="400">
</div>
<div class="gallery">
    <img src="~/images/IMG_9579.jpg" width="600" height="400">
</div>


</body>
</html>

