
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Welcome to my Home Page</h1>

<h4 class="text-center">Hi y'all! My name is Crystal Le!</h4>
<div class="align-self-sm-center">
    <img class="w-25 h-3 mx-auto d-block" 
         src="~/images/profile pic.jpg" alt="Rush Kappas Spring 2021" title="My Rush Picture from Spring 2021" />
</div>
<br />
<div class="text-center">
    <div class="btn-group-lg">
        <a asp-action="About" class="btn btn-primary" >About Me</a> 
        <a asp-action="Resume" class="btn btn-secondary">My Resume</a>
        <a asp-action="FoodieCorner" class="btn btn-info">Foodie Corner</a>
        <a asp-action="Spotify" class="btn btn-danger">My Spotify</a>
        <a asp-action="Contact" class="btn btn-warning">Contact Me</a>
    </div>
</div>
<hr class="hr-danger" />

<p>My email address is <a href="mailto:crystalle@utexas.edu">crystall@utexas.edu</a>. See my <a href="/Home/Contact">contact</a> page for more ways to contact me!</p>
<br />
<br />
<h2 class="text-center">TED Talk</h2>
<p>The concept of time is something I feel that as humans we all struggle to grasp. Time is something we spend so easily, but can never gain back.</p>
<p>This Ted Talk by Philip Zimbardo touches on the psychology of time and how it can be perceived.</p>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div style="max-width:854px">
            <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/lang/en/philip_zimbardo_the_psychology_of_time" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>            </div>
        </div>
        <div class="col-2"></div>
    </div>
<br />
<br />
</div>