<head>
  <title>Spotify</title>
</head>

<br />
<h1 class="text-center">My Spotify</h1>
<br/>
<h4 class="text-center">My Top 3 Playlists</h4>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/26ZHiGRHgJv2wcLhdUII3M?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" 
allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
<br/>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3kT6RebGX0d9n92u025Ae0?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" 
allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
<br/>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1oQmnPcRhFaPQZG1E7wapC?utm_source=generator" 
width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
<br/>
